@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<Projekt1.Models.Rental>


@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>
    <div class="row" style="height: 150px;">
        <h1 style="font-size: 60px;margin-top: 32px;margin-left: 450px;">CentrumBiblioteket</h1>
    </div>

    <div class="row">
        <div class="col" style="max-width: 200px;">
            <ul class="list-group">
                <li class="list-group-item">
                    <span>Sök...</span>
                </li>
                <li class="list-group-item">
                    <span>Startsida</span>
                </li>
                <li class="list-group-item">
                    <span>Artiklar</span>
                </li>
                <li class="list-group-item">
                    <span>Uppföljning/Statistik</span>
                </li>
                <li class="list-group-item">
                    <span>Böcker som är utlånade</span>
                </li>
                <li class="list-group-item">
                    <span>Försenade Utlån</span>
                </li>
            </ul>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Förnamn
                        </th>
                        <th>
                            Efternamn
                        </th>
                        <th>
                            Telefonnummer
                        </th>
                        <th>
                            Epostadress
                        </th>
                        <th>
                            Boktitel
                        </th>
                        <th>
                            Utlåningssdatum
                        </th>
                        <th>
                            Inlämningsdatum
                        </th>
                        <th>
                            Bok tillbakalämnad
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Customer.FirstName
                            </td>
                            <td>
                                @item.Customer.LastName
                            </td>
                            <td>
                                @item.Customer.PhoneNumber
                            </td>
                            <td>
                                @item.Customer.EmailAddress
                            </td>
                            <td>
                                @item.Inventory.Book.Title
                            </td>
                            <td>
                                @item.RentalDate
                            </td>
                            <td>
                                @item.ReturnDate
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.RentalId" class="btn btn-primary">Ta Bort Från Lista (Bok inlämnad)</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn btn-primary" type="button">Spara</button>
        </div>
    </div>


</body>
